.photo{
    height: 25vh;
    width: 25vh;
    border-radius: 20px;
    margin-bottom: 40px; 
    z-index:0;
    
}

.info{
   height: 20vh;
   width: 50vh; 
   position: relative;
   border-radius: 20px;
   background-color: black;
   display: block;
}

.photobox{
   height: 10vh;
   width: 40vh;
   
    float:left;

    
}

.aboutcon{
    height: 93vh;
    width: 100%;
    display:flex;
    position: relative;
    background-color: black;
}

.aboutcon2{
    height: 93vh;
    width: 50%;
    display:block;
    position: absolute;
    float: left;
    left:0;
    background-color: #f79341;
    z-index: 3;


}

.aboutcon3{
    height: 50vh;
    width: 50%;
    
    position: relative;
    float: left;
    left:0;
    
}  

.aboutcon4{
    height: 10vh;
    width: 100%;
    display:block;
    position: relative;
    float: left;
    left:0;
    margin-left: 180px;
    margin-top: 50px;
    
} 

.aboutcon5{
    height: 10vh;
    width: 100%;
    display:block;
    position: relative;
    float: left;
    left:0;
    margin-left: 180px;
    margin-top: 50px;
    
} 


.new-message {

    display: none;

}

.about1{
    float: right;
    color:#027bb3;
}

.stepper{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#label {
    color: white;
    font-weight: 500;
}

.html{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
}

.css{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.js{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.vs{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.sql{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 10px;
}

.node{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 50px;
}

.react{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.git{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.aboutcon6{
    height: 10vh;
    width: 100%;
    display:block;
    position: relative;
    float: left;
    left:0;
    margin-left: 180px;
    margin-top: 50px;
    
} 

.firebase{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 10px;
}

.mongo{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 50px;
}

.heroku{
    width:90px;
    height:90px;
    display:inline;
    clear: both;
    margin-left: 60px;
}

.skills{

    color: white;
    text-align: center;
}